# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# pixi environments
.pixi
*.egg-info
src/pywebview/__pycache__

# Data files
*.csv
*.xlsx
*.xls

# Notebooks directory
notebooks/